version: "3"
services:
    order-nodes-1:
        container_name: order-nodes-1
        hostname: order-nodes-1
        working_dir: /app
        build:
            context: .
            dockerfile: order.Dockerfile
        env_file:
            - env/addresses.env
        command:
            bash -c "bash /app/common/setup_ssh.sh && bash /app/common/execution.sh
            1 "
        ports:
            - 1102:2801
        networks:
            shared-net:
                ipv4_address: 192.168.124.10
        image: order-nodes-1
    payment-nodes-1:
        container_name: payment-nodes-1
        hostname: payment-nodes-1
        working_dir: /app
        build:
            context: .
            dockerfile: payment.Dockerfile
        env_file:
            - env/addresses.env
        command:
            bash -c "bash /app/common/setup_ssh.sh && bash /app/common/execution.sh
            1 "
        ports:
            - 1103:2801
        networks:
            shared-net:
                ipv4_address: 192.168.124.30
        image: payment-nodes-1
    stock-nodes-1:
        container_name: stock-nodes-1
        hostname: stock-nodes-1
        working_dir: /app
        build:
            context: .
            dockerfile: stock.Dockerfile
        env_file:
            - env/addresses.env
        command:
            bash -c "bash /app/common/setup_ssh.sh && bash /app/common/execution.sh
            1 "
        ports:
            - 1104:2801
        networks:
            shared-net:
                ipv4_address: 192.168.124.50
        image: stock-nodes-1
    order-coord-1:
        container_name: order-coord-1
        hostname: order-coord-1
        working_dir: /app
        build:
            context: .
            dockerfile: coordinator.Dockerfile
        env_file:
            - env/addresses.env
        command: bash -c "bash /app/common/execution.sh 1 ORDER"
        ports:
            - 1105:2801
            - 8080:2802
        networks:
            shared-net:
                ipv4_address: 192.168.124.21
        image: order-coord-1
    payment-coord-1:
        container_name: payment-coord-1
        hostname: payment-coord-1
        working_dir: /app
        build:
            context: .
            dockerfile: coordinator.Dockerfile
        env_file:
            - env/addresses.env
        command: bash -c "bash /app/common/execution.sh 1 PAYMENT"
        ports:
            - 1106:2801
            - 8081:2802
        networks:
            shared-net:
                ipv4_address: 192.168.124.41
        image: payment-coord-1
    stock-coord-1:
        container_name: stock-coord-1
        hostname: stock-coord-1
        working_dir: /app
        build:
            context: .
            dockerfile: coordinator.Dockerfile
        env_file:
            - env/addresses.env
        command: bash -c "bash /app/common/execution.sh 1 STOCK"
        ports:
            - 1107:2801
            - 8082:2802
        networks:
            shared-net:
                ipv4_address: 192.168.124.61
        image: stock-coord-1
    balancer:
        build: ./balancer
        image: balancer
        ports:
            - 1101:80
        depends_on:
            - order-coord-1
            - payment-coord-1
            - stock-coord-1
        networks:
            shared-net:
                ipv4_address: 192.168.124.200
networks:
    shared-net:
        driver: bridge
        ipam:
            config:
                - subnet: 192.168.124.0/24
